
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Flask Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/Hakkimizda">Hakkımızda</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Makaleler">Makaleler</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        {% if session["giris_yapildi"]%}
        <li class="nav-item active">
            <a class="nav-link" href="/Kontrol_P">Kontrol Paneli</a>
          </li>
           <li class="nav-item active">
            <a class="nav-link" href="/CikisYap">Çıkış Yap</a>
          </li>
        {% else %}
        <li class="nav-item active">
            <a class="nav-link" href="/KayitOl">Kayıt Ol</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/GirisYap">Giris Yap</a>
          </li>
        {% endif %}
        </ul>
      </div>
    </nav>