{% extends "Layout.html" %}
{% block body %}    
    <h3>Kontrol Paneli</h3>
    <small>Hoşgeldin {{session["KullaniciAdi"]}}</small>
    <hr/>
    <a class="btn btn-danger" href="MakaleEkle">Makale Ekle</a>
     {% if makaleler %}
       <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">id</th>
                <th scope="col">Baslık</th>
                <th scope="col">İçerik</th>
                <th scope="col">Yazar</th>
                <th scope="col">Oluşturulma Tarihi</th>
                <th scope="col">Güncelle</th>
                <th scope="col">Sil</th>
                </tr>
            </thead>
            <tbody>
            {% for makale in makaleler %}
                <tr>
                <th scope="row">{{makale.id}}</th>
                <td>{{makale.Baslik}}</td>
                <td>{{makale.Icerik}}</td>
                <td>{{makale.Yazar}}</td>
                <td>{{makale.Olusturma_tarihi}}</td>    
                <td><a href="/Guncelle/{{makale.id}}" class="btn btn-primary">Güncelle</a></td>
                <td><a href="Sil/{{makale.id}}" class="btn btn-danger">Sil</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger">Bu Blogda Henüz Makale Bulunmuyor</div>
    {% endif %}
{% endblock body %}